

$font: variable-exists($name: airel);
$quantity: 15;

*
*::after,
*::before{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: $font;
}



.disabled{
    color:rgba(0, 0, 0, 0.527);
}

.NameText{
        color: whitesmoke;
        background: #232323;
        text-shadow: 0 0 5px #000000, 0 0 10px whitesmoke, 0 0 15px whitesmoke, 0 0 20px #000000, 0 0 30px #000000, 0 0 40px #000000, 0 0 55px #000000, 0 0 75px #000000;
        color: whitesmoke;
        background-color: rgba(0,0,0, 0);
}

.divider{
    color: rgb(255, 255, 255);
    padding: 5px;
}

body{
    
    background-color: black;
}

#landing{
    width: 200%;
    height: 100vh;
    display: flex;
        justify-content: center;
        align-items: center;
    
    &::before{
        content: "";
        background: rgba(0,0,0, 0);
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
    }

    .landing-container{
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 15px;
    }

    h1{
margin: 0 0 10px 0;
font-size: 64px;
font-family: fantasy; //update later
color: whitesmoke;
    }

    h2{
color: #eee;
margin-bottom: 50px;
font-size: 15px;
font-weight: 300;
letter-spacing: 1px;
text-transform: uppercase;
}

    .button-scroll{
        transition: .5s;
        color: gray;
        animation: up-down 1s ease-in-out infinite alternate-reverse both;

        i{
        font-size: 48px;
        }

        &:hover{
            color: green;
        }
    }}


.skills{
    color: #00abc2;
    h2{
        color:  #00abc2;
        text-align: center;
        color: yellow;
        background: #232323;
        text-shadow: 0 0 5px #000000, 0 0 10px yellow, 0 0 15px yellow, 0 0 20px #000000, 0 0 30px #000000, 0 0 40px #000000, 0 0 55px #000000, 0 0 75px #000000;
        color: yellow;
        background-color: rgba(0,0,0, 0);
        
    }

    .progress{
        height: 70px;
        display: block;
        background: none;
        border-radius: 0;

        .skill{
            padding: 10px 0;
            margin:0 ;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 15px;
            font-family: $font;
            color: white;

            .val{
                float: right;
                font-style: normal;
            }
        }
    }

    .progress-bar-warp{
        background-color: rgb(90, 90, 90);
        height: 20px;
        border-radius: 90px;
    }

    .progress-bar{
        height: 20px;
        border-radius: 90px;
        transition: 1s;
        background: linear-gradient(to right, #0084d1 0%, #00abc2 45%, #00d9ff 100%);
    }

    
}

.resume{
    .resume-title{
        font-size: 26px;
        font-weight: 700;
        margin-top: 20px;
        margin-bottom: 20px;
        color: yellow;
        background: #232323;
        text-shadow: 0 0 5px #000000, 0 0 10px yellow, 0 0 15px yellow, 0 0 20px #000000, 0 0 30px #000000, 0 0 40px #000000, 0 0 55px #000000, 0 0 75px #000000;
        color: yellow;
        background-color: rgba(0,0,0, 0);
    }
    .resume-item{
        padding: 0 0 20px 20px;
        margin-top: -2px;
        border-left: 2px soild rgb(117, 216, 255);
        position: relative;
        

        h4{
            line-height: 18px;
            font-size: 18px;
            font-weight: 600;
            text-transform: uppercase;
            font-family: $font;
            color: rgb(133, 221, 255);
            margin-bottom: 10px;
        }
        h5{
            color: rgb(133, 221, 255);
        }
        p, em{
            color: rgb(133, 221, 255);
        }
        
        
        ul{
            padding-left: 20px;
            color: rgb(133, 221, 255);
            li{
                padding-bottom: 0;
                color: rgb(133, 221, 255);
            }
        
    }
    
}
}

.contact{
    font: $font;
}

//back to the top
.back-to-top {
    position: sticky;
    top: 90%;
    left: 100%;
    display: none;
    width: 5%;
    height: 5%;
}

@import 'MikeGolus';